{% extends 'suggestions/layout.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'suggestions/index.css' %}">
{% endblock %}
{% block script %}
<script src="{% static 'suggestions/script.js' %}"></script>
{% endblock %}
{% block body %}
    <ul class="navbar">
        <li class='home-icon'><img src="../../static/suggestions/homeicon.png" alt="Home"></li>
        <li><a class='about-button'>About</a></li>
        <li><a class='contact-button'>Contact</a></li>
    </ul>
    <div class="about-view">
        <div class="about-text">

            <div class="about-intro">
                <h2>
                    What is What Should I Play?
                </h2>
                <p>
                    What should I play is a website that aims to suggest matching games based on the user's preferred tags for those of us who feel like they have nothing to play amidst the ocean of games that steam provides, simple as that!
                </p>
                
            </div>

            <div class="about-works">
                <h2>But how does it work?</h2>
                <p>
                    When you select the tags you like and submit them, our server passes them through an algorithm and the algorithm returns games that have the highest score, and that score takes in account the importance of a tag, and in what place that tag is in that game.
                </p>
            </div>

            <div class="about-tips">
                <h2>Getting Optimal Suggestions</h2>
                <p>
                    In order to get games that you are actually looking for, you should select tags that are possible to coexist in the same game, otherwise, if you, for example, select "Driving" and "Anime", since there are no decent games (yet) that have both characteristics, it's gonna give you either driving or anime games.
                </p>
            </div>



        </div>
    </div>

    <div class="contact-view">
        <div class="contact-text">
            <div class="contact-intro">
                <h2>
                    How do I contact you?
                </h2>
                <p>
                    If you have any questions, suggestions or anything to say to me, feel free to contact me at fabio.david.contato@gmail.com
                </p>
                
            </div>

            
        </div>

        
        
    </div>
    <div class="first">
        <div class="intro">
            <h1 class='welcome'>Welcome to What Should I Play</h1>
            <p class='welcome2'>Don't know what to play? <br>
            Answer a couple of questions, select a couple of tags <br>
            and we will suggest you some games!
            </p>
        </div>

        <div class="started-button">
            <button class="started-button-button">
                Get Started
            </button>
        </div>
    </div>

    <div class="second">
        <div class="player-choice">

            <p class="player-text">Are you looking for a, primarily,<br> Multiplayer or Single Player Experience?</p>

            <div class="multiplayer-button">
                <button class="multiplayer-button-button">
                    Multiplayer
                </button>
            </div>

            <div class="singleplayer-button">
                <button class="singleplayer-button-button">
                    Single Player
                </button>
            </div>
        </div>

        
        
    </div>

    <div class="third-multi">
        <div class="multi-choice">

            <p class="multi-text">Are you looking for a, primarily,<br> Competitive or Co-op Experience?</p>

            <div class="competitive-button">
                <button class="competitive-button-button">
                    Competitive
                </button>
            </div>

            <div class="coop-button">
                <button class="coop-button-button">
                    Co-op
                </button>
            </div>
        </div>
    </div>

    <div class="tags-canvas">
        <p class="canvas-text">
            Now select the tags you like 
        </p>

        <p class="tags-advice">
            The more related tags you select the more accurate the suggestions will be
        </p>
        <div class="tags-grid">

        </div>

        <div class="submitter-parent">
            
        </div>

    </div>
    
    <div class="control">
        <div id="awn-z3960299"></div>
    </div>

    <div class="fourth">
        <div class="games">
            
        </div>
    </div>
{% endblock %}