{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Don't know what to play?
    Answer a couple of questions, select a couple of tags
    and we will suggest you some games!">
    <title>What Should I Play</title>
    {% block style %}
    {% endblock %}
    {% block script %}
    {% endblock %}
    <script data-ad-client="ca-pub-2774840060374052" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CVR15FPEY7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CVR15FPEY7');
    </script>
    
</head>
<body>

    {% block body%}

    {% endblock %}

</body>
</html>