{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Don't know what to play?
    Answer a couple of questions, select a couple of tags
    and we will suggest you some games!">
    <title>What Should I Play</title>
    {% block style %}
    {% endblock %}
    {% block script %}
    {% endblock %}

</head>
<body>

    {% block body%}

    {% endblock %}

</body>
</html>